<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheney.demo.dao.UserDao">
    <insert id="insertUsers">
        insert into t_user (
        id,
        name,
        age
        ) values
        <foreach item="user" collection="users" open="(" separator="),(" close=")">
            #{user.id}, #{user.name}, #{user.age}
        </foreach>
    </insert>
    <insert id="insertUser">
        insert into t_user (
            id,
            name,
            age
        ) values (
            #{id},
            #{name},
            #{age}
        )
    </insert>
    <update id="updateUser">
        update
            t_user
        set
            name = #{name},
            age = #{age}
        where
            id = #{id}
    </update>
</mapper>