<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koala Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Koala System</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post" class="text-center">
                        <label for="username"></label><input type="text" class="form-control mb-2" id="username" name="username" th:value="${username}" placeholder="Username" required>
                        <label for="password"></label><input type="password" class="form-control mb-3" id="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
